{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="text-3xl font-bold">{{ item.name }}</h1>
        <p class="text-xl font-semibold text-gray-600">Category: {{ item.category }}</p>
        <p class="text-xl font-semibold text-gray-600">Price: {{ item.price }}$</p>
        <p class="text-xl font-semibold text-gray-600">Description: {{ item.description }}</p>
        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This is your listing!</p>
                <a href="{% url 'item:edit' item.id %}" class="inline-block px-6 py-2 mt-6 text-lg font-semibold text-white uppercase transition duration-800 bg-green-700 rounded-xl hover:bg-green-600">Edit</a>
                <a href="{% url 'item:delete' item.id %}" class="inline-block px-6 py-2 mt-6 text-lg font-semibold text-white uppercase transition duration-800 bg-red-700 rounded-xl hover:bg-red-600">Delete</a>
            </div>
        {% endif %}
        <a href="#" class="inline-block px-6 py-2 mt-6 text-lg font-semibold text-white uppercase transition duration-800 bg-indigo-800 rounded-xl hover:bg-indigo-600">Book now!</a>
    </div>

</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl font-bold text-center">Related items</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
            <div>
                <a href="{% url 'item:detail' item.id %}">
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-full rounded-xl">
                </a>


            <div class="p-6 bg-white rounded-b-xl">
                <h3 class="mb-2 text-xl font-bold">{{ item.name }}</h3>
                <p class="mb-4 text-gray-500">{{ item.description }}</p>
                <p class="text-2xl font-bold">{{ item.price }} PLN</p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}